body {
  font-family: times;
}
.choices {
  display: flex;
}
.options {
  flex-basis: 24%;
  margin: 0 2rem;
  border: 1px dashed dodgerblue;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
}
ul {
  list-style-type: none;
}

#orderButton {
  margin: 1rem 0 2rem 2rem;
  padding: 0.5rem;
  background-color: rgb(227, 72, 72);
  color: lightgoldenrodyellow;
  font-size: 1rem;
}